#  全局启用apt开关  默认值 true
processor.enable =  true
# 是否停止向上级合并配  默认值 false  true可以使用父模块的配置
processor.stopBubbling = true
# APT 代码生成文件字符集 默认值 UTF-8
processor.charset = UTF-8

# 是否所有的类都生成在 Tables 类里  默认值 false
# 将所有实体类的对象引用生成到Tables这个类里， 方便统一引用
# processor.allInTables.enable = true
# Tables 包名 默认值 ${entityPackage}.table
# processor.allInTables.package = ${entityPackage}.table
# Tables 类名 默认值 Tables 将所有实体类的对象引用生成到AptTables这个类里
# processor.allInTables.className = AptTables

# 开启 Mapper 自动生成 默认值 false
# processor.mapper.generateEnable = true
# 开启 Mapper 注解 默认值 false  true在自动生成的mapper类中添加 @Mapper 注解
# processor.mapper.annotation = true
# 自定义 Mapper 的父类 默认值com.mybatisflex.core.BaseMapper
# processor.mapper.baseClass = com.mybatisflex.core.BaseMapper
# 自定义 Mapper 生成的包名 默认值 ${entityPackage}.mapper
# processor.mapper.package = ${entityPackage}.entitymapper

# 生成辅助类的包名 默认值 ${entityPackage}.table
processor.tableDef.package = ${entityPackage}.apt
# 生成辅助类的字段风格 upperCase, lowerCase  upperCamelCase, lowerCamelCase 默认值 upperCase
# 风格支持 4 种配置，默认（未配置时）为 upperCase，支持的配置分别为：
#   upperCase：大写 + 下划线，例如：USER_NAME
#   lowerCase：小写 + 下划线，例如：user_name
#   upperCamelCase：首字母大写的驼峰命名，例如：UserName
#   lowerCamelCase：首字母小写的驼峰命名，例如：userName
processor.tableDef.propertiesNameStyle	= upperCase
# 生成的表对应的变量后缀 默认值 空字符串
# public class AccountAPT extends TableDef {
# ACCOUNT_APT 控制这个变量名称的
# public static final AccountAPT ACCOUNT_APT = new AccountAPT();
# processor.tableDef.withInstance = true
# processor.tableDef.instanceSuffix = _APT
# 生成的 TableDef 类的后缀 默认值 TableDef
processor.tableDef.classSuffix = APT

# 过滤 Entity 后缀 默认值 -
# APT 过滤 Entity 后缀
# 在某些情况下，Entity 类可能会有某些通用的后缀，比如 AccountEntity ,AccountModel 或者 AccountDto 等，
# 我们希望生成的代码， 不包含 Entity, Model, Dto 等后缀，可以添加如下的配置：
processor.tableDef.ignoreEntitySuffixes = Entity
